aiosqlite==0.22.0
fastapi==0.125.0
fastmcp==2.14.1
langchain_core==1.2.2
langchain_mcp_adapters==0.2.1
langchain_ollama==1.0.1
langchain_openai==1.1.6
langgraph==1.0.5
pydantic==2.12.5
python-dotenv==1.2.1
rich==14.2.0
